<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.Dutchpay.project.mapper.DetailsMapper">
    <select id="getDetails" resultType="www.Dutchpay.project.dto.DetailsDTO">
        SELECT * FROM details WHERE group_id = #{group_id}
    </select>

    <insert id="insertDetails" parameterType="www.Dutchpay.project.dto.DetailsDTO">
        INSERT INTO details (device_id, group_id, title, money)
        VALUES (#{device_id}, #{group_id}, #{title}, #{money})
    </insert>

    <delete id="deleteDetails" parameterType="www.Dutchpay.project.dto.DetailsDTO">
        DELETE FROM details
        WHERE device_id = #{device_id} AND group_id = #{group_id} AND title = #{title}
    </delete>

    <update id="updateDetails" parameterType="www.Dutchpay.project.dto.DetailsDTO">
        UPDATE details
        SET title = #{title}, money = #{money}
        WHERE list_id = #{list_id}
    </update>
</mapper>
