<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.Dutchpay.project.mapper.MemberMapper">

    <select id="GroupMember" parameterType="www.Dutchpay.project.dto.MemberDTO">
            SELECT * FROM member where group_id = #{group_id}
    </select>

    <select id="ListMember" parameterType="www.Dutchpay.project.dto.MemberDTO">
        SELECT * FROM member where list_id = #{list_id}
    </select>

</mapper>